<div class=" mt-5 row navDiv offset-lg-5 offset-md-2 text-secondary ">
    <div class="col col-6 ">
        <div>
            <h4>
                We Will Make Your Vacation Unforgettable
            </h4>
            <h2 class="text-black fw-1">
                Services We Offer
            </h2>
        </div>
        <nav class="nav mt-1">
            <p class="btn p-1 ps-0 ">Travel insurance</p>
            <p class="btn p-1">Flights</p>
            <p class="btn p-1">Sightseeing</p>
            <p class="btn p-1">Accommodation</p>
        </nav>
        <div class="mt-2">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vero molestiae obcaecati earum consectetur quasi nemo, debitis dolores saepe minima in fugiat nihil provident eos animi voluptates? Aut, molestias maxime.</p>

        </div>
    </div>
    <div class="col col-6">
        <div class=" navImg">
            <img src="https://images.pexels.com/photos/7502439/pexels-photo-7502439.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start " alt="...">
        </div>
        <div class="">

        </div>
    </div>
</div>