<div class="navDiv row ">
    <div class=" col-lg-1 offset-lg-3 col-md-1 offset-md-2 ">
        <li class="nav nav-item  fw-bolder">
            <a class="nav-link mt-4 active text-white " aria-current="page" routerLink="">TRAVELEX</a>
        </li>
    </div>

    <ul class="nav navBar row col-lg-5 offset-lg-2 col-md-8 offset-md-1 ">

        <li class="nav-item col">
            <a class="nav-link mt-4 text-white" routerLink="">Home</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link mt-4 text-white" routerLink="blog">Blog</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link mt-4 text-white" routerLink="travels">Travels</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link mt-4 text-white">Gallery</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link mt-4 text-white">Services</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link mt-4 text-white">Contact us</a>
        </li>

    </ul>
    <div class="col-lg-2 offset-lg-3 col-md-4 offset-md-2">
        <h3>Experience the</h3>
        <h1 class="french ">Best Trip Ever</h1>
        <p>We are commited to affording travel servieces of the highest quality combining our energy and enthusiasm with year of experience</p>
        <a href="mailto: albghdadiyahia5@gmail.com">
            <button class="border btn btn-transparent text-white border-black ps-4 pe-4 rounded-0 ">Contact us</button>
        </a>




    </div>

</div>