.mainDiv {
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    background: #129488;
}

.header {
    font-family: 'Estonia', cursive;
    font-size: 5rem;
    background: #90AFA2;
}

.t {
    font-size: 100px;
}